*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
@media (min-width: 500px) {
    body{
        display: none;
    }
}
@keyframes slideIn{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
body{
    overflow-x: hidden;
    animation: slideIn 2s;
}
.container{
    padding: 15px;
}
.container a .fa-solid{
    font-size: 20px;
    color: #0F53B9;
    margin-bottom: 30px;
}
.container h2{
    color: #3870C5;
    margin-bottom: 30px;
}
.cont-head{
    background-color: #3870c55c;
    height: 75vh;
    border-radius: 15px;
    padding: 30px 20px;
}
.cont-head p{
    font-size: 17px;
    font-style: italic;
    color: #9f9f9f;
}